{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "4.0"
                }
            }
        ]
    ],
    "plugins": [
        "babel-plugin-object-entries-and-values-to-object-keys",
        "transform-object-rest-spread"
    ]
}
