{
    "extends": [
        "eslint-config-postcss",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "plugins": [
        "import"
    ],
    "env": {
        "jest": true
    }
}
